---
layout: post
title: Acropora Larvae DNA/RNA Extraction Test Results
tags: [DNA, RNA, eggs, sperm]
---

## Eggs and sperm from FACE PUF Morea Project


--- 
***For detailed extraction protocol view post: [Protocol for DNA/RNA Extractions of Montipora Coral Larvae Using Zymo-Duet Extraction Kit](https://echille.github.io/E.-Chille-Open-Lab-Notebook/Protocol-for-DNA-RNA-Extractions-of-Montipora-Coral-Larvae-Using-Zymo-Duet-Extraction-Kit/)***

---

#### Extraction Date: May 17, 2019
**Samples**

|ID|Spawning Date|Content|Sample Quantity (µL)|Sample Conserv.|Tech|
|---|---|---|---|---|---|
|120|2/11/2018|Eggs|100|300 uL Shield|Erin|
|797|4/11/2018|Eggs|100|300 uL Shield|Erin|

**Extraction Notes**
- Samples were already preserved in 300µL DNA/RNA Sheild so did not add more
- Digested for 3 hours and 40 minutes at 55°C at speed 35 in Incubator-Genie because test tubes were too large for the thermomixer
- Added additional 15µL Proteinase K after 2 hours and 50 min
- Some lipids left in samples
- Pelleted at 2300 rcf for 1 min

**Qubit**  
*Quantified May 22, 2019*
- Followed Broad Range dsDNA and RNA Qubit [protocol](https://meschedl.github.io/MESPutnam_Open_Lab_Notebook/Qubit-Protocol/)
- All samples were read twice 

|Extraction #|Sample|DNA Standard 1 (RFU)|DNA Standard 2 (RFU)|DNA 1 (ng/µl)|DNA 2 (ng/µl)|Average DNA| RNA Standard 1 (RFU)| RNA Standard 2 (RFU)| RNA 1 (ng/µl)|RNA 2 (ng/ul)|Average RNA|
|--------|------|----------|----------|-------------|-------------|-------------|-------------|----|----|----|----|
|73|120|184.2|20357|Too Low|Too Low|Too Low|385.6|10602|60.4|60.4|60.4|
|74|797|184.2|20357|Too Low|Too Low|Too Low|385.6|10602|88.2|88.0|88.1|

**Tape Station**  
- Followed RNA TapeStation [protocol](https://meschedl.github.io/MESPutnam_Open_Lab_Notebook/RNA-TapeStation-Protocol/)

![TS-biomin-Ext-Batch-12-73.png](https://raw.githubusercontent.com/echille/E.-Chille-Open-Lab-Notebook/master/images/TS-Morea-FACE-PUF-Test%20Batch-Ext-73.png) 
![TS-biomin-Ext-Batch-12-74.png](https://raw.githubusercontent.com/echille/E.-Chille-Open-Lab-Notebook/master/images/TS-Morea-FACE-PUF-Test%20Batch-Ext-74.png) 